*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #754048;
    height: 38px;
    /*width: 100%;
*/
    box-shadow:0 4px 10px lightslategray;

}
#wrapper{
    background : rgba(255,255,255,0.7);
    width: 775px;
    margin: 0px auto;
    box-sizing: border-box;

}
header ul li{
    display: inline-block;
font-family: Arial;
    font-size: 12px;
    color:#f6dde3;
    margin-right:8px;



}
header ul{
    float: right;
    margin: 7px 0;
    margin-right:40px;
}
header ul li:after{
    content:' |';
}
li:last-child:after{
    content:'';
}
h1{
    font-family: Georgia;
    color:#7a2e40;
    font-size:17pt;
    font-weight: initial;

}
p{
    font-family: Arial;
    color:#2a3845;
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
}
span {
    color:#fca8bb;

}
main {

    box-sizing: border-box;
    float: left;
    /*width: 500px;*/
    padding-right: 30px;
}

aside {

    float: right;
    box-sizing: border-box;
    /*width: 275px;*/
    min-height: 500px;
}
.clear{
    clear: both;
}

#h11{
list-style-type: none;
    float: right;
    width: 90%;
    margin-right: -47px;
    margin-top: 32px;
}
#l1{
    font-size: 15pt;

}
#l2 {
    font-size: 9pt;
    color:#818282;
    font-family: Arial;
}
#lapa{
    float: left;
    width: 8%;
    margin-left: 53px;
    margin-top: 31px;

}
#div1 {
    background-color: #f9f9f9;
    box-sizing: border-box;
    color:#f9f9f9;
    padding: 3%;
    border: 1px solid #e3dfe0;
    margin-left: 39px;

}
h2{
    font-family:Arial;
    font-weight: 500;
    color:#7a2e40;
    border-bottom: 1px solid #e3dfe0;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 15px;
    margin-left: -8px;
    padding-bottom: 8px;
}
#ul1{
    font-size: 12px;
    font-weight: lighter;
    color:#fca8bb;
    font-family: Arial;
margin-left: 15px;
}
#ul1 li {
    margin: 8px
;
}
.ul1{

    color:#2a3845;
}
#div2{
    box-sizing: border-box;
    color:#f9f9f9;
    padding: 3%;
    margin-left: 24px;
}
#Dog {
    float: left;
    width: 22%;
    margin-right: 17px;
    margin-top: 8px;
    margin-left: -7px;
}
#p {
    margin-right:-22px ;
}
#p2 {
    margin-top: 30px;
}
footer {
    box-sizing: border-box;
    /*width: 100%;*/
    height: 58px;
    background-color:#f9f9f9;
    border-top: 1px solid #e3dfe0;

}
#ul3 {
    font-family: Arial;
    font-weight: lighter;
    font-size: 9pt;
    list-style-type: none;
    margin-top: 14px;
    margin-left: 35px;
    margin-bottom: 14px;
}
.footer {
    color:#a43b55;
text-decoration-line: underline;

}
#lady{

    margin-top: 20px;
    margin-right: 40px;
    box-shadow:9px 20px 20px -20px black;
margin-left: 47px;
}
h3{
    font-family:Arial;
    color:#7a2e40;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 13px;
}
#div3 {

}
#p3 {

    font-family: Arial;
    color:#2a3845;
    font-size: 10pt;
    font-weight: lighter;
    margin-left: 25px;
}
#ul2 {
    list-style-type: none;
    font-size: 10pt;
    text-decoration-line: underline;
    color: #a43b55;
}
#ul2 li {
    margin: 5px 0;
}
#div4 {
    background-color: #f9f9f9;

    border: 1px solid #e3dfe0;
    margin-left: 25px;
    margin-right:50px ;
    padding: 0 30px 30px 30px;
;
}

aside ul li:before{
    content:'';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img2/Shape 2.png');
    background-size: cover;
    margin-left: -20px;
    margin-right: 10px;
    vertical-align: -5px;
}
#hhh{
    margin-bottom: 10px;
}
